@model Sug.Models.TestViewModel

<div class="row">
	<div class="col-md-12">
		TextField: @Model.TextField <br />
		CheckboxField: @Model.CheckboxField<br />
		DateTimeField: @Model.DateTimeField <br />
		LinkField: @Model.LinkField <br />
		ImageField: @Model.ImageField <br />
		GeneralLinkField: @Model.GeneralLinkField <br />
		FileField: @Model.FileField<br />
		RichTextField: @Model.RichTextField<br />
		NumberField: @Model.NumberField <br />
		IntegerField: @Model.IntegerField <br />
		NameValueListField: @Model.NameValueListField <br />
		NameLookupValueField: @Model.NameLookupValueField <br />
	</div>
</div>